{% extends "Base.html" %}
{% block title %}
UPDATE
{% endblock %}
{% block style %}
body{
background-repeat:no-repeat;
background-attached:fixed;
background-size:cover;
background-image:url({{url_for("static",filename="todo6.jpg")}})
}
{% endblock %}
{% block content %}
<br>
<body class="text-center">
   <div class="container">
      <form action="/update/{{todo.sno}}" method="POST" class="form-todo" style="color:black; font-weight:bold">
         {{ form.hidden_tag() }}
         <h1 class="display-4 h3 mb-3 font-weight-bold">
            Update Your Todo
         </h1>
         <br>
         {{ form.title.label() }}
         {{ form.title(class="form-control", placeholder="Title") }}
         {{ form.description.label() }}
         {{ form.description(class="form-control", placeholder="Description") }}
         <br>
         {{ form.submit(class="btn btn-lg btn-block btn-success")}}
      </form>
   </div>
</body>
{% endblock %}